main{
  padding-top: 0px;
}
.top-bar{
  background: transparent;
}

/* .logo{
  width: 300px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#logo{
  display: block;
  float: left;
  text-decoration: none;
}


.button{
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.button:hover{
    background-color: #111;
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    opacity: 0.7;
    width: 100%;
    top: 0;
}

#nav-replace {
  display: block;
  padding: 25px;
}

.sticky{
  top: 0;
  position: fixed;
  right: 8px;
}

.sticky + .logo {
  /* margin-bottom: 160px; */
}

#intro{
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
}

.background {
  position: absolute;
  margin-top: -160px;
  width: 100%;
  z-index: -1;
}
